html,
body {
    height: 100%;
    margin: 0;
}

ul {
    list-style: none;
}


#container {
    background-color:darkslategray;
    color: beige;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
}


#header {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: bisque;
    color: darkslategray;
}





#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}
#content-add {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
#inputTask {
    border-radius: 20px;
    border-style: hidden;
}
#addButton {
    border-radius: 5px;
    background-color: bisque;
    color: darkslategray;
}





#tasks {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.single-task {
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin-top: 10px;
}

.single-task-button {
    border-radius: 5px;
    text-decoration: none;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 0.15em solid currentColor;
    border-radius: 0.1em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
.form-control + .form-control {
    margin-top: 1em;
  }
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color:darkslategray;
    transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before {
    transform: scale(1);
  }



#footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:bisque;
    color: darkslategray;
}